. {
    min-height: max-content;
    background-color: ;
    word-spacing: 1rem;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-weight: 600;
}